{% extends 'base.html.twig' %}


{% block title %}All Catégories
{% endblock %}


{% block body %}

	<h1>Toutes les Categories :
	</h1>

	{% for categorys in category %}

		<div>

			<h2>{{ loop.index }}
				/
																																																																								            	- Catégorie :
				{{ categorys.name }}</h2>


			{# Lien vers la fiche de la série : #}

			<a href="{{ path("category_show", { categoryName: categorys.name }) }}">Voir la fiche</a>
		</div>

	{% else %}

		Aucune série trouvée.
		<a href="{{ path('app_index') }}">Retour à l'accueil</a>


	{% endfor %}


	<a href="{{ path('category_new') }}">Ajouter une categorie</a>

	Retour à l'accueil</a>{% endblock %}
